@model JupyterPreviewModel

<!--Preview Html Start-->
<br />
<div class="jumbotron">
    <div style="overflow-y: scroll; height:400px;">
        @Html.Raw(Model.PreviewHtml)
    </div>
</div>
<!--Preview Html End-->

<!--Download Button Start-->
<div>
    <form method="post">
        <input hidden asp-for="PreviewJson" />
        <div class="form-group">

            <!--Preview Start-->
            <select asp-items="Model.StyleSelections" asp-for="SelectedItem" class="form-control w-25 p-3"></select>
            <button asp-action="PreviewHtml" asp-controller="Jupyter" class="btn btn-primary">
                Preview Html
            </button>

            <!--Preview Start-->
            <!--Download Start-->
            <button asp-action="DownloadToHtml" asp-controller="Jupyter" class="btn btn-primary">
                Download Html
            </button>
            <button asp-action="DownloadToPdf" asp-controller="Jupyter" class="btn btn-primary">
                Download PDF
            </button>
            <!--Download End-->
        </div>
    </form>
</div>
<!--Download Button End-->